<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated importSiriusMM -->
      <package
            uri="http://mondo.import.mm.sirius"
            class="mondoSirius.MondoSiriusPackage"
            genModel="model/importSiriusMM.genmodel"/>
   </extension>

</plugin>
