<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated constraints -->
      <package
            uri="http://miso.es/constraints"
            class="constraints.ConstraintsPackage"
            genModel="mm/constraints.genmodel"/>
   </extension>

</plugin>
